/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    background-color: #232323;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.square {
    width: 30%;
    padding-top: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 25px;
    transition: background 0.6s;
}

.container {
    width: 360;
    margin: 20px auto;
}

#try2 {
    display: inline-block;
    width: 20%;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #4286f4;
    padding: 0;
    margin: 0;
    font-size: 200%;
    line-height: 1.85em;
}

#bar {  
    height: 30px;
    background-color: white;
    color: #4286f4;
    text-align: center;
}


.selected {
    background-color: #4286f4;
    color: white;
}

button {
    height: 30px;
    border: 0;
    background-color: white;
    text-transform: uppercase;
    color: #4286f4;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3;
}

button:focus {
    outline: 0;
}

#pickedColor {
    font-size: 40px;
}

button:hover {
    color: white;
    background-color: #4286f4;
}